<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OrderJsonPath" value="..\..\..\Data\orders.json"/>
    <add key="PriceJsonPath" value="..\..\..\Data\prices.json"/>
    <add key="PaymentJsonPath" value="..\..\..\Data\payments.json"/>
  </appSettings>
</configuration>